/*

UNIVERSE

*/
.universe-container {
  background: rgb(0,0,0);
  background: linear-gradient(180deg, rgba(0,0,0,1) 56%, rgba(1,27,41,1) 80%, rgba(2,44,67,1) 100%);
}

/* stars */
.star {
  position: absolute;
  top: 50px;
  left: 50px;
  width: 2px;
  height: 2px;
  background-color: #f5f5f5;
  border-radius: 50%;
}

.star.small {
  width: 1px;
  height: 1px;
}

.star.medium {
  width: 2px;
  height: 2px;
}

.star.large {
  width: 3px;
  height: 3px;
}

.sky {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* `planets */
svg polyline,
svg line,
svg path {
  fill: none;
  stroke: #000;
  stroke-width: 0.2px;
  stroke-linecap: round;
  stroke-linejoin: round;
  transition: 0.2s;
}

svg circle {
  fill: #18DCFF;
  stroke: black;
  stroke-width: 1px;
}

.planet {
  position: absolute;
}

.planet.small {
  width: 80px;
  height: 80px;
}

.planet.medium {
  width: 140px;
  height: 140px;
}

.planet.large {
  width: 200px;
  height: 200px;
}

.planet circle {
  stroke: black;
  stroke-width: 1px;
}

.planet polygon {
  stroke: black;
  stroke-width: 1px;
}

.planet-A {
  -webkit-filter: drop-shadow(0 0 0.75rem cyan);
  filter: drop-shadow(0 0 0.75rem cyan);
}

.planet-A circle {
  fill: #18DCFF;
}

.planet-A polygon {
  fill: #3AEA74;
}

.planet-B {
  -webkit-filter: drop-shadow(0 0 0.75rem red);
  filter: drop-shadow(0 0 0.75rem red);
}

.planet-B circle {
  fill: #FFA502;
}

.planet-B polygon {
  fill: #FF6348;
}

.planet-C {
  -webkit-filter: drop-shadow(0 0 0.75rem purple);
  filter: drop-shadow(0 0 0.75rem purple);
}

.planet-C circle {
  fill: #0a3d62;
}

.planet-C polygon {
  fill: #0a3d62;
}

.planet-D {
  -webkit-filter: drop-shadow(0 0 0.75rem green);
  filter: drop-shadow(0 0 0.75rem green);
}

.planet-D circle {
  fill: #4a69bd;
}

.planet-D polygon {
  fill: #6a89cc;
}


