html {
  --ratio: 1.618;

  --size-xs: calc(var(--size-s) / var(--ratio));
  --size-s: calc(var(--size-m) / var(--ratio));
  --size-m: 0.8rem;
  --size-l: calc(var(--size-m) * var(--ratio));
  --size-xl: calc(var(--size-l) * var(--ratio));

  --color-primary: hsl(180, 4%, 5%);
  --color-secondary: hsl(200, 0%, 10%);
  --color-tertiary: hsl(200, 28%, 20%);
  --color-accent: hsl(200, 40%, 40%);
  --gray-light: hsl(0, 0%, 85%);
  --gray-neutral: hsl(0, 0%, 68%);
}

@media only screen and (max-width: 600px) {
  html {
    --ratio: 1.5;
  }
}

body {
  background-color: hsl(190, 5%, 5%);
  margin: 0;
  font-family: sans-serif;
  font-weight: 100;
  color: var(--gray-light);
}

main {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}

main::-webkit-scrollbar {
  display: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

h1 { font-size: var(--size-l); }
h2 { font-size: var(--size-m); }

[class^="inline"] {
  display: inline-flex;
  align-items: center;
}
.inline\:xs > *:not(:last-child) { margin-right: var(--size-xs); }
.inline\:s > *:not(:last-child) { margin-right: var(--size-s); }
.inline\:m > *:not(:last-child) { margin-right: var(--size-m); }
.inline\:l > *:not(:last-child) { margin-right: var(--size-l); }
.inline\:xl > *:not(:last-child) { margin-right: var(--size-xl); }

[class^="stack"] {
  display: flex;
  flex-direction: column;
}
.stack\:xs > *:not(:last-child) { margin-bottom: var(--size-xs); }
.stack\:s  > *:not(:last-child) { margin-bottom: var(--size-s); }
.stack\:m  > *:not(:last-child) { margin-bottom: var(--size-m); }
.stack\:l  > *:not(:last-child) { margin-bottom: var(--size-l); }
.stack\:xl > *:not(:last-child) { margin-bottom: var(--size-xl); }

.inset\:none { padding: 0px; }
.inset\:xs { padding: var(--size-xs); }
.inset\:s { padding: var(--size-s); }
.inset\:m { padding: var(--size-m); }
.inset\:l { padding: var(--size-l); }
.inset\:xl { padding: var(--size-xl); }

.squish-inset\:xs { padding: calc(var(--size-xs) / 2) var(--size-xs); }
.squish-inset\:s { padding: var(--size-xs) var(--size-s); }
.squish-inset\:m { padding: var(--size-s) var(--size-m); }
.squish-inset\:l { padding: var(--size-m) var(--size-l); }
.squish-inset\:xl { padding: var(--size-l) var(--size-xl); }

.stretch-inset\:xs { padding: var(--size-xs) calc(var(--size-xs) / 2); }
.stretch-inset\:s { padding: var(--size-s) var(--size-xs); }
.stretch-inset\:m { padding: var(--size-m) var(--size-s); }
.stretch-inset\:l { padding: var(--size-l) var(--size-m); }
.stretch-inset\:xl { padding: var(--size-xl) var(--size-l); }

.border\:s { border: 1px solid; }
.border\:m { border: 2px solid; }
.border\:l { border: 3px solid; }
.border\:xl { border: 4px solid; }
.border-color\:gray { border-color: gray }
.border-color\:primary { border-color: var(--color-primary); }
.border-color\:secondary { border-color: var(--color-secondary); }
.border-color\:accent { border-color: var(--color-accent); }

.rounded-none { border-radius: 0; }
.rounded\:s { border-radius: 0.125rem; }
.rounded\:m { border-radius: 0.25rem; }
.rounded\:l { border-radius: 0.375rem; }
.rounded\:xl { border-radius: 0.5rem; }
.rounded-full { border-radius: 50%; }

.bg\:primary { background-color: var(--color-primary); }
.bg\:secondary { background-color: var(--color-secondary); }
.bg\:tertiary { background-color: var(--color-tertiary); }
.bg\:accent { background-clip: var(--color-accent); }
.color\:primary { color: var(--color-primary); }
.color\:secondary { color: var(--color-secondary); }
.color\:tertiary { color: var(--color-tertiary); }
.color\:gray-light { color: var(--gray-light); }
.color\:gray-neutral { color: var(--gray-neutral); }

.text-center { text-align: center; }

.max-w-screen-sm { max-width: 640px; }
.max-w-screen-md { max-width: 768px; }
.max-w-screen-lg { max-width: 1024px; }
.max-w-screen-xl { max-width: 2180px; }

.w-full { width: 100%; }
.w-screen { width: 100vw; }
.h-full { height: 100%; }
.h-screen { height: 100vh; }
.h-min-screen { min-height: 100vh; }

.gap\:xs { gap: var(--size-xs) }
.gap\:s { gap: var(--size-s) }
.gap\:m { gap: var(--size-m) }
.gap\:l { gap: var(--size-l) }
.gap\:xl { gap: var(--size-xl) }

.shadow-inset { box-shadow: inset 1px 1px 2px 1px black; }

.full-width { width: 100%; }
.full-viewport {
  height:100vh;
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

.relative { position: relative; }
.absolute { position: absolute; }
.fixed { position: fixed; }
.inline { display: inline-flex; }
.inline.gutter-s { margin-right: 16px; }
.inline.gutter-m { margin-right: 32px; }
.inline.gutter-l { margin-right: 64px; }
.flex { display: flex; }
.flex\:1 { flex: 1; }
.flex.column { flex-direction: column; }
.justify-center { justify-content: center; }
.justify-end { justify-content: flex-end; }
.justify-space-around { justify-content: space-around; }
.justify-space-between { justify-content: space-between; }
.flex.align-center { align-items: center; }
.flex.align-stretch { align-items: stretch; }
.flex.align-end { align-items: flex-end; }
.self-center { align-self: center; }
.self-end { align-self: flex-end; }

p.align-center,
h5.align-center,
h4.align-center,
h3.align-center,
h2.align-center,
h1.align-center,
span.align-center { text-align: center; }


.layout {
  position: relative;
  min-height: 100vh;
}

svg {
  stroke-width: 1px;
}

.sticky-bottom {
  position: sticky;
  bottom: 0;
}

