#street {
  position: relative;
  display: flex;
  align-self: stretch;
  flex-direction: column;
}

.platform{
  --height: calc(var(--ratio) / 4);
  height: var(--height);
  width: 100%;
  background-color: transparent;
  border-bottom: calc(var(--height) / 4) solid var(--gray-20);
  border-top: 1px solid hsl(200, 10%, 40%);
  border-bottom: 1px solid hsl(200, 10%, 40%);
}

.asphalt {
  height: calc(var(--ratio) * 1.5);
  width: 100%;
  background: transparent url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='10rem' height='100%'><rect fill='white' x='0' y='45%' width='50%' height='1%'/></svg>");
}
